mixin indexProducts()
    .latestProducts
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .latest
                    h3 Latest products on our platform
        .row
            .col-xs-12.col-sm-4
                .product
                    .productInfo
                        a(href='productLink') ThinkPad T55
                        .addToFav button
