mixin nav()
	nav.main-nav
		ul
			li
				a(href="/")
					img(src="")
			li
				a(href="")
			dl.dropdown
				dt
					a
						span Categories
					dd
						ul
							li
								a.default Categories
							li
								a Categories 1
							li
								a Categories 2
							li
								a Categories 3
