mixin nav()
	div.row.navbar-toggler.nav(style="display: -webkit-box !important;")
		div.col-md-2
			img(src="/static/images/logo.png")
		div.col-md-2
			button(type="button")
				| All adds
		div.col-md-2
			div.dropdown
				button
					| Categories
				div.dropdown-content
					a(href='#')
						| Product 1
					a(href='#')
						| Product 2
					a(href='#')
						| Product 3
		div.col-md-2
			button(type="button")
				| Sell your product
		div.col-md-2
			a(href='/signin')
				| Sign in