mixin nav()
    nav.main-nav
        ul
            li
                a(href="/")
                    img(src="")
            li
                a(href="")
            dl.dropdown
                dt
                  a
                    span Dropdown n°1
                dd
                  ul
                    li
                      a.default Dropdown n°1
                    li
                      a Option n°1
                    li
                      a Option n°2
                    li
                      a Option n°3
