extends ./_shared/master

block content
    .chartsContainer
        .container.col-md-5
            .chart-container
                canvas#products-active-days
        .container.col-md-5
            .chart-container
                canvas#bar