extends ./_shared/master
include ./products/latest

block content
    .backgroundImage.col-md-12.col-lg-12
    .chartsContainer.container
        .row
            .container.col-md-6.col-lg-6.col-sm-12
                .chart-container
                    canvas#products-active-days
                    canvas#bar
            .container.col-md-6.col-lg-6.col-sm-12
                .chart-container
                    canvas#pie
    .latestContainer.container
        .row
            +latest()