.form-collection#signUpForm
    .card.elevation-3.limit-width.log-in-card.below.turned
        .card-body
            .input-group.username
                input(type='text', name='username' placeholder='Username')
            .input-group.password
                input(type='password', name='password' placeholder='Password')
        .card-footer
            button.login-btn(type='submit') Log in
    .card.elevation-2.limit-width.sign-up-card.above
        .card-body
            .input-group.username
                input(type='text', name='username', placeholder='Username')
            .input-group.email
                input(type='email', name='email', placeholder='Email')
            .input-group.password
                input(type='password', name='newPassword', placeholder='Enter Password')
            .input-group.password
                input(type='password', name='confirmNewPassword', placeholder='Confirm Password')
        .card-footer
            button.signup-btn(type='submit') Sign Up
