body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-color: #ebf0f5;
}

.nav {
    background-color: #43a700
}

.stats-button {
    background-color: rgba(0, 0, 0, 0.05);
}