body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-color: #ced5dd;
}

div.col-md-2 {
    overflow: hidden;
}


/* Products */

.col-md-3.product {
    padding: 19px;
}

.productPicture {
    /* width: 200px !important; */
    height: 200px !important;
}

.productsButtons {
    padding-top: 3px;
}

.productsButtons div:first-child {
    padding-left: 0px;
    padding-right: 1px;
}

.productsButtons div:last-child {
    padding-left: 1px;
    padding-right: 0px;
}

.productTitle div {
    background-color: black;
    opacity: 0.4;
}

.productDesc {
    background-color: black;
    opacity: 0.4;
    color: white;
}