extends ../_shared/master

block content
    div.latestProducts
            div.titleContainer
                   div.col-md-12
                    h3.title
                        strong
                            | Latest products
            div.productsList
            div.row.col-md-12
                div.col-md-3.product
                    div.productPicture.col-md-12
                        a(href='https://smartphone.bg/system/images/151631/normal/MQAC2GHA.jpg')
                    div.productDesc.row
                        p.productTitle.title.col-md-8
                            | ThinkPad T55
                        p.price.title
                            | 300 lv
                    div.row.productsButtons
                        div.col-md-6
                            button#showInfo.showInfo.col-md-12
                                | More info
                        div.col-md-6
                            button#addToFav.addToFav.col-md-12
                                | Add to favorite
                div.col-md-3.product
                    div.productPicture.col-md-12
                        a(href='https://smartphone.bg/system/images/151631/normal/MQAC2GHA.jpg')
                    div.productDesc.row
                        p.productTitle.title.col-md-8
                            | ThinkPad T55
                        p.price.title
                            | 300 lv
                    div.row.productsButtons
                        div.col-md-6
                            button#showInfo.showInfo.col-md-12
                                | More info
                        div.col-md-6
                            button#addToFav.addToFav.col-md-12
                                | Add to favorite
                div.col-md-3.product
                    div.productPicture.col-md-12
                        a(href='https://smartphone.bg/system/images/151631/normal/MQAC2GHA.jpg')
                    div.productDesc.row
                        p.productTitle.title.col-md-8
                            | ThinkPad T55
                        p.price.title
                            | 300 lv
                    div.row.productsButtons
                        div.col-md-6
                            button#showInfo.showInfo.col-md-12
                                | More info
                        div.col-md-6
                            button#addToFav.addToFav.col-md-12
                                | Add to favorite
                div.col-md-3.product
                    div.productPicture.col-md-12
                        a(href='https://smartphone.bg/system/images/151631/normal/MQAC2GHA.jpg')
                    div.productDesc.row
                        p.productTitle.title.col-md-8
                            | ThinkPad T55
                        p.price.title
                            | 300 lv
                    div.row.productsButtons
                        div.col-md-6
                            button#showInfo.showInfo.col-md-12
                                | More info
                        div.col-md-6
                            button#addToFav.addToFav.col-md-12
                                | Add to favorite
                div.col-md-3.product
                    div.productPicture.col-md-12
                        a(href='https://smartphone.bg/system/images/151631/normal/MQAC2GHA.jpg')
                    div.productDesc.row
                        p.productTitle.title.col-md-8
                            | ThinkPad T55
                        p.price.title
                            | 300 lv
                    div.row.productsButtons
                        div.col-md-6
                            button#showInfo.showInfo.col-md-12
                                | More info
                        div.col-md-6
                            button#addToFav.addToFav.col-md-12
                                | Add to favorite