extends ../_shared/master

block content
    .container.main-section
        .row
            each add in allPublishings
                .col-md-3.col-sm-3.col-xs-12.image-main-section
                    .row.img-part
                        .col-md-12.col-sm-12.colxs-12.img-section
                            img(src=add.picture)
                        .col-md-12.col-sm-12.col-xs-12.image-title
                            h3 #{add.title}
                        .col-md-12.col-sm-12.col-xs-12.image-title
                            h3 #{add.desc}
                        .col-md-12.col-sm-12.col-xs-12
                            a.btn.btn-success.add-cart-btn(href='#') #{add.price}лв
